input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.row.field-container {
  margin-left: 0;
  margin-right: 0;
}

.flat-btns {
  margin: 0 12%;
  top: 7px;
  width: 100%;
  position: relative;
  left: 11px;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
