div.showcase-tech-container {
  position: relative;
  background-color: #FFF;
  top: -8px;
  overflow-x: auto;
}

.brand-logos {
  position: relative;
  right: 40px;
  width: 1000px;
  display: inline-flex;
}

.brand-logos img {
  margin: 0 20px;
  height: 80px;
  width: auto;
  max-width: 100%;
  border: 0;
}

.brand-logos ul#logos li {
  display: inline-flex;
  margin: 0 200px;
}
