
.breathe {
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(1.006);
        transform: scale(1.006);
    }

    15% {
        -webkit-transform: scale(1.09);
        transform: scale(1.08);
    }

    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1.13);
        transform: scale(1.19);
    }

    75% {
        -webkit-transform: scale(1.19);
        transform: scale(1.02);
    }

    100% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
    }

    25% {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
    }

    50% {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    }

    75% {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
    }

    100% {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
    }
}
