
html,
body {
    font-family: Roboto, GillSans, Trebuchet, sans-serif;
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.unselectable {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -webkit-touch-callout: none;
    user-select: none;
}

.sb-theme {
    color: #FFFAE8;
}

.sb-btn {
    background-color: #FFFAE8;
    color: #34485c;
    border: 1px solid #34485c;
    padding-top: 4px;
}

.sb-btn:focus {
    outline: none;
}

.sp-container-lg {
    background-color: #1F2B3E;
    width: 100%;
    opacity: 0.8;
    padding: 45px;
    color: #FFFAE8;
    position: relative;
    top: 17.6rem;
    line-height: 1.4rem;
    text-align: center;
}

.sp-container-sm {
    padding-top: 8px;
    width: 100%;
    height: 90px;
    background-color: #253a48;
    float: right;
    opacity: 0.8;
    font-size: 14px;
    color: #FFFAE8;
    line-height: 1rem;
    text-align: center;
    z-index: 10;
}

